@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-3xl text-[#52B6BF] font-bold leading-10;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-4xl font-bold leading-10;
    }
    h4 {
      @apply text-2xl font-bold leading-10;
    }
    section {
      @apply  px-4 py-8 max-w-5xl mx-auto;
    }
    footer {
      @apply  p-4 bg-white rounded-lg shadow md:px-6 md:py-8 max-w-5xl mx-auto;
    }
  }